body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.first.section {
    height: 500px;
    background: #1f2937;
    color:azure;
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 48px;
    margin-bottom: 48px;

}

.content{
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    width :400px;
    flex-flow: row wrap;
}

.button {
    display: flex;
}

.image {
    display: flex;
    width: 500px;
    height: 150px;
    background: grey;
}

.right-links {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}

.text {
    font-weight: 900;
    font-size: 48px;
    color: #f9faf8;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.first.button {
    background: #3882f6;
    border-radius: 12px;
    padding: 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.second.section {
    height: 350px;
    background: white;
}

.title {
    color:#1f2937;
    font-weight: 900;
    font-size: 36px;
    display: flex ;
    justify-content: center;
    padding: 24px ;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
    align-items: center;
}

img {
    width: 100px;
    height: 100px;
    border: 2px solid #3882f6;
    border-radius: 8px;
    padding: 4px;

}

.box {
    display: flex;
    flex-flow: row wrap;
    width: 120px;
    text-align: center;
}

.third.section {
    height: 350px;
    background: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;

}

.textcontainer {
    display: flex;
    width: 500px;
    height: 200px;
    flex-flow: column ;

}
.quote {
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    display: flex;
    justify-content: flex-end;
}

.information {
    display: flex;
    font-size: 24px;
    font-weight: lighter;
    font-style: italic;
}

p {
    margin: 0;
    padding: 0;
}

.fourth.section {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-container {
    display: flex;
    align-items: center;
    background-color: #3882f6;
    width: 600px;
    height: 100px;
    justify-content: space-between;
    padding: 24px 36px ;
    border-radius: 12px;
    color: #f9faf8;
}

.context {
    display: flex;
    flex-direction: column;
}

.titletwo {
    color: #f9faf8;
    font-weight: bold;
    font-size: larger;
}

.second.button {
    border-radius: 12px;
    padding: 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f9faf8;
}


.footer {
    background: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    padding: 24px;
}

